//변수처리

//site width
$siteWidth: 1320px;

//text size
$fontSizeSmall: 12px;
$fontSizeSmallMid: 14px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

//font
$fontFamilyBody: 'Acme', sans-serif;
$fontFamilyP: 'Noto Sans KR', sans-serif;

//color

//background color
$layoutBg: #fff4e0;

//font color
$fontColorBasic: #877a67;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

//border-radius
$btnBorderRadius: 3px;

//border color
$borderColorlight: #fae2b1;
$borderColorPrimary: #b8944d;
$borderColorDark: #997939;

//button color
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;

//table $gbtnColor
$tableColorPrimary: #b8944d;
$tableTrHover: #e8daa5;
